<div class="container">
  <% if user_signed_in? %>
      <div class="row" id="greeting">
        <h5><i>Welcome<% current_user.name %>!</i> </h5>
      </div>
    <div class="sign-out-button">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-small' %>
    </div>
  <% end %>

  <div class="row topText">
    <div class="col" class="lead">
      <main role="main" class="inner">
        <h1 class="cover-heading"><center>machineSpiritClaude</center></h1>
        <% unless current_user %>
        <h4><center>This conversational intelligence is meant to be a useful aid for general knowledge. It can teach concepts and provide understanding. A great tutor and aid for work and for learning.Powered by Anthropic.  </center></h4>
        <h4><center> Be very specific in your requests;<b> Great prompts create Great responses!</b></center> </h4>
      <% end %>

        <hr class="mt-2 mb-2">
        <div class="row">
          <% if @conversation_history.present? %>
          <div class="col" id="responsebox">
            <% @conversation_history.each do |message| %>
              <p><h5><%= message[:role] %>:</h5><b><i><%= message[:text]%></i></b></p>
               <% if message[:role] == "Assistant" %>
                 <hr>
               <% end %>  
            <% end %>
          </div>
        <% end %>
        </div>

         <% if @assistant_response.present? && session[:generated_image_url].present? %>
         <center> <%= raw session[:generated_image_url] %> </center>
 
        <% end %>


         <% if @assistant_response.present? %>
        <% if user_signed_in? %>
        <div class="download-button text-center mt-3">
          <%= link_to 'Download as PDF',download_latest_response_chat_index_path , class: 'btn btn-medium' %>
              
        </div>
        <% end %>
        <div class="read-aloud-button text-center mt-3">
        <%= button_tag "Read Response Aloud", type: "button", class: "btn btn-medium", id: "read-response-aloud" %>
        </div>

          <% if current_user %>
          <div class="download-button text-center mt-3">
            <%= form_tag send_prompt_response_emails_path, method: :post do %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= submit_tag 'Email Response', class: 'btn btn-medium' %>
            <% end %>
          </div>
          <% end %>
        <% end %>
        
        <%= form_with url: { controller: "chat", action: "ask" }, method: :post, id: "ask_form" do |f| %>
     <div class="form-inline">
       <%= f.label :text, "Query the AI:" %>
       <%= f.text_field :text, class: "form-control input-width", autofocus: true, id: "query-input" %>
       <% if user_signed_in? %>
       <%= f.check_box :generate_image, {checked: false}, "1", "0" %>
       <%= f.label :generate_image, "Generate Image" %>
       <% end %>
       <%= f.hidden_field :save_conversation, value: user_signed_in? ? "1" : "0" %>
       <%= f.submit "Submit", class: "btn btn-medium mt-3" %>
     </div>
      <% end %>


<p>&nbsp;</p>
<div class="row">
  <% if user_signed_in? %>
  <div class="col-md-4 text-center">
    <%= button_tag "Voice to Text", type: "button", class: "btn btn-medium", id: "voice-to-text" %>
  </div>
  <div class="col-md-4 text-center">
    <%= form_with url: delete_thread_path, method: :post, local: true do %>
      <%= submit_tag "Delete Thread", class: "btn btn-medium" %>
    <% end %>
  <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="col-md-4 text-center">
      <button id="toggle-conversations" class="btn btn-medium">Conversations</button>
    </div>

</div>
        <div id="previous-conversations" style="display: none;">
  <h3>Previous Conversations</h3>
        
   <ul>
  <% @conversations.each do |conversation| %>
    <i><li class="conversation-prompt" data-response="<%= conversation.response %>">
      <%= conversation.prompt %></i>
      <%= button_to 'Delete', conversation_path(conversation), method: :delete, data: { confirm: 'Are you sure you want to delete this conversation?' }, class: 'btn btn-medium' %>
    </li>
  <% end %>
</ul>
        </div>

        <% else %>
          <div class="row" style="padding-top: 1.5em">
            <div class="col">
              <center> <p> Please <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-small' %>  or <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-small' %>to view your conversations, generate images, or download your responses as PDF files.  This will be a premium feature after the beta.</p></center>
            </div>
         </div>
        <% end %>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function() {
    $('#toggle-conversations').click(function() {
      $('#previous-conversations').toggle();
    });

    $('.conversation-prompt').click(function() {
      let response = $(this).data('response');
      alert(response);
    });
  });
</script>
<script>
$(document).ready(function() {
  
  $('#read-response-aloud').click(function() {
  const assistantResponse = '<%= j @assistant_response %>';
  const voiceId = '21m00Tcm4TlvDq8ikWAM';
  const apiKey = '<%= ENV["ELEVENLABS_API_KEY"] %>';

  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/text-to-speech', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.setRequestHeader('Authorization', `Bearer ${apiKey}`);
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  xhr.responseType = 'arraybuffer'; // Set the response type to arraybuffer

  xhr.onload = function(e) {
    if (xhr.status === 200) {
      const audioBlob = new Blob([xhr.response], { type: 'audio/mpeg' }); // Create a Blob directly from the response
      const audioUrl = URL.createObjectURL(audioBlob);
      const audio = new Audio(audioUrl);
      audio.play();
    } else {
      console.error("Error: Failed to request audio from Eleven Labs API.");
      alert("Error: Failed to request audio from Eleven Labs API.");
    }
  };

  xhr.send(JSON.stringify({ text: assistantResponse, voice_id: voiceId }));
});


  });

</script> 
