<!DOCTYPE html>
<html>
  <head>
    <title>machineSpiritClaude</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery", "jquery_ujs" %>
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token%>">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= javascript_include_tag 'stripe_payment', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/@rails/ujs"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
 <script>
   document.addEventListener("DOMContentLoaded", function () {
  const voiceToTextButton = document.getElementById("voice-to-text");

  if (voiceToTextButton) {
    const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
    const recognition = new SpeechRecognition();

    recognition.onresult = function (event) {
      const transcript = event.results[0][0].transcript;
      const textField = document.getElementById("query-input");
      textField.value = transcript;
    };

    voiceToTextButton.addEventListener("click", function () {
      recognition.start();
    });
  }
});
 </script>
 <script>
   function copyToClipboard(text) {
  var tempInput = document.createElement('textarea');
  tempInput.style = 'position: absolute; left: -1000px; top: -1000px';
  tempInput.value = text;
  document.body.appendChild(tempInput);
  tempInput.select();
  document.execCommand('copy');
  document.body.removeChild(tempInput);
}
 </script>

 <script>
  document.addEventListener('ajax:beforeSend', function() {
    $('.lds-roller').css('display', 'inline-block');
});

document.addEventListener('ajax:complete', function() {
    $('.lds-roller').css('display', 'none');
});

 </script>

  </head>
  <body>
    
     <% flash.each do |key, value| %>
     <div class="alert alert-<%= key %> red-background alert-dismissible show" role="alert">
       <center><h4><%= value %></h5></center>
       <center><button type="button" class="btn-close custom-close-btn" data-bs-dismiss="alert" aria-label="Close">X</button></center>
     </div>
     <% end %>
    
     <%= render "layouts/navbar" %> 
      <%= yield %>
  </body>
</html>

